/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;
  --white-blur: rgba(255, 255, 255, 0.8);

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;
  --black-blur: rgba(1, 1, 1, 0.5);

  --indigo: #2c3e50;

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  --text-light-1: var(--indigo);
  --text-light-2: #606266;
  --text-dark-1: var(--white);
  --text-dark-2: rgb(241, 245, 249);

  --marker-light: rgb(210, 215, 221);
  --marker-dark: rgb(241, 245, 249);

  --main-color: #0060DF;
  /* #2563eb */
  --main-color-hover-darker: #0250BB;
  --main-color-hover-lighter: #1576ff;
  --main-color-hover-shadow: rgba(0, 110, 255, 0.5);

  --link-color: #0069c2;

  --section-gap: 160px;

  transition: background-color 0.3s;
}

/* semantic color variables for this project */
/* Define light mode colors */
.light-mode {
  --color-background: #fff;
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);
  --color-background-blur: var(--white-blur);
  --color-background-hover: #f5f5f5;
  --color-background-nav-hover: rgb(248, 250, 252);
  --color-background-quote: rgb(248, 250, 252);
  --color-background-layer: rgb(255, 255, 255);
  --color-border-quote: rgb(231, 236, 243);
  --color-border-shadow: #8f8f8f7d;

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-2);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);
  --color-text-2: var(--text-light-2);
  --color-meta-text: #6b7280;

  --color-devider: var(--divider-light-2);
  --color-marker: var(--marker-light);
}

/* Define dark mode colors */
.dark-mode {
  --color-background: #1b1b1b;
  --color-background-soft: var(--black-soft);
  --color-background-mute: var(--black-mute);
  --color-background-blur: var(--black-blur);
  --color-background-hover: #6262626e;
  --color-background-nav-hover: rgb(30, 41, 59);
  --color-background-quote: rgb(30, 41, 59);
  --color-background-layer: #242424;
  --color-border-quote: rgb(44, 57, 77);
  --color-border-shadow: #0000007d;

  --color-border: var(--divider-dark-2);
  --color-border-hover: var(--divider-dark-1);

  --color-heading: var(--text-dark-1);
  --color-text: var(--text-dark-2);
  --color-text-2: #cdcdcd;
  --color-meta-text: #adb5c3;

  --color-devider: var(--divider-dark-2);
  --color-marker: var(--marker-dark);
}

/* Apply colors based on selected theme */
html {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-layer);
  transition:
    color 0.3s,
    background-color 0.3s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border-top: none;
  border-bottom: 1px solid var(--color-border);
  margin: 1rem 0;
}

/*  覆盖伪类 */
a::before {
  content: none;
  display: block;
  height: 0;
  /* 占位高度 */
  margin-top: 0;
  /* 抵消滚动位置 */
}