/* hue: color palette from <https://github.com/saicaca/fuwari/blob/main/src/styles/main.css> */

.light-mode .tag-card,
.light-mode .nav-item-tag,
.light-mode .tag-title {
    --primary: oklch(.7 .14 var(--hue));
    --page-bg: oklch(.95 .01 var(--hue));
    --card-bg: white;
    --btn-content: oklch(.55 .12 var(--hue));
    --btn-regular-bg: oklch(.95 .025 var(--hue));
    --btn-regular-bg-hover: oklch(.9 .05 var(--hue));
    --btn-regular-bg-active: oklch(.85 .08 var(--hue));
    --btn-plain-bg-hover: oklch(.95 .025 var(--hue));
    --btn-plain-bg-active: oklch(.98 .01 var(--hue));
    --btn-card-bg-hover: oklch(.98 .005 var(--hue));
    --btn-card-bg-active: oklch(.9 .03 var(--hue));
}

.dark-mode .tag-card,
.dark-mode .nav-item-tag,
.dark-mode .tag-title {
    --primary: oklch(.75 .14 var(--hue));
    --page-bg: oklch(.16 .014 var(--hue));
    --card-bg: oklch(.23 .015 var(--hue));
    --btn-content: oklch(.75 .1 var(--hue));
    --btn-regular-bg: oklch(.33 .035 var(--hue));
    --btn-regular-bg-hover: oklch(.38 .04 var(--hue));
    --btn-regular-bg-active: oklch(.43 .045 var(--hue));
    --btn-plain-bg-hover: oklch(.3 .035 var(--hue));
    --btn-plain-bg-active: oklch(.27 .025 var(--hue));
    --btn-card-bg-hover: oklch(.3 .03 var(--hue));
    --btn-card-bg-active: oklch(.35 .035 var(--hue));
}