.main-content {
  /* justify-content: baseline; */
  flex: 1;
}

.content-header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.sort-button {
  padding: 0.5rem 1rem;
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.sort-button:hover {
  background-color: var(--color-background-hover);
}

/* 论坛主题 */
.topics-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.topic-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--color-text);
}

.topic-card:hover {
  background-color: var(--color-background-hover);
  text-decoration: none;
}

.topic-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  max-width: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.topic-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topic-title {
  font-weight: 500;
  margin: 0;
}

.topic-meta {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: var(--color-meta-text);
  gap: 8px;
}

.last-commented-time {
  display: flex;
  align-items: center;
}

.topic-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.tags {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
}

.tag {
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.75rem;
}

.tag {
  background-color: #f3f4f6;
  color: #374151;
}

.tag.tag0 {
  --hue: 0;
  background-color: oklch(0.95 0.025 var(--hue));
  color: oklch(0.55 0.12 var(--hue));
}

.tag.tag1 {
  --hue: 235;
  background-color: oklch(0.95 0.025 var(--hue));
  color: oklch(0.55 0.12 var(--hue));
}

.tag.tag4 {
  --hue: 210;
  background-color: oklch(0.95 0.025 var(--hue));
  color: oklch(0.55 0.12 var(--hue));
}

.tag.tag2 {
  --hue: 160;
  background-color: oklch(0.95 0.025 var(--hue));
  color: oklch(0.55 0.12 var(--hue));
}

.tag.tag3 {
  --hue: 60;
  background-color: oklch(0.95 0.025 var(--hue));
  color: oklch(0.55 0.12 var(--hue));
}

.reply-count {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  color: var(--color-meta-text);

  span {
    display: flex;
    white-space: nowrap;
  }
}

.icon-small {
  width: 1rem;
  height: 1rem;
}

@media (max-width: 480px) {
  .topic-card {
    padding: 0.5rem 0;
  }

  .topic-title {
    width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .last-commented-time {
    display: none;
  }

  .tags {
    max-width: 4.5rem;
    overflow-x: auto; /* 启用横向滚动 */
    white-space: nowrap; /* 保证 tag 不换行 */
    gap: 0.25rem;
  }

  .tag {
    padding: 0.1rem 0.3rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
  }
}
