img {
  max-width: 100%;
  border-radius: 6px;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  margin: 1em 0 0.5em;
}

h3 {
  font-size: 1.25em;
  margin: 1em 0 0.5em;
}

p {
  margin: 1em 0 0 0;
  color: var(--color-text);

  &:first-child {
    margin: 0;
  }
}

strong {
  font-weight: bold;
}

ul,
ol {
  margin: 1em 0;
  padding-left: 2em;
}

ul li::marker {
  color: var(--color-marker);
}

li {
  margin: 0.5em 0;
}

code {
  background-color: var(--color-background-quote);
  padding: 1px 6px 1px 6px;
  border-radius: 6px;
  font-family: monospace;
  border: 1px solid var(--color-border-quote);
  line-height: 1.4;
  font-size: 0.9em;
}

pre {
  background-color: var(--color-background-quote);
  padding: 10px 16px 10px 16px;
  border-radius: 6px;
  overflow-x: auto;
  margin: 1em 0;
  border: 1px solid var(--color-border-quote);
}

pre code {
  background-color: var(--color-background-quote);
  border: 0px;
  padding: 0px;
}

blockquote {
  background-color: var(--color-background-quote);
  margin: 1em 0;
  padding: 0 1em 0 1em;
  border-radius: 6px;
  border: 1px solid var(--color-border-quote);
  border-left: 4px solid var(--color-border-quote);
  color: #666;
}

a {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-all;
}

a:hover {
  text-decoration: underline;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: 1em 0;
  font-size: 0.9em;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid var(--color-border-quote);
}

th {
  background-color: var(--color-background-quote);
  font-weight: bold;
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid var(--color-border-quote);
  border-right: 1px solid var(--color-border-quote);
}

th:last-child,
td:last-child {
  border-right: none;
  /* 移除最后一列的右边框 */
}

td {
  padding: 12px;
  border-bottom: 1px solid var(--color-border-quote);
  border-right: 1px solid var(--color-border-quote);
}

tr:last-child td {
  border-bottom: none;
}
